@use 'sass:math';

// todo: convert to css variabled
// todo: add dark theme support
// Colors
$gray: #777;
$gray_xx: #ddd;
$gray_xxx: #eee;
$accent: #ecb80d;
$accent_text: #d7a500;
$accent_tab: #f9f2dd;
$accent_tab_window: #f6e8bc;
$error: #bb3611;
$info: rgb(29, 113, 182);
$incognito: #661cdc;

// Converts px to em with 14px base
@function rpx($n, $base: 16) {
  @return ($n * math.div(1, $base)) * 1rem;
}

// Converts px to em with 14px base
@function unit($n) {
  @return rpx($n * 10);
}
