@use '@app/styles/mixins.module' as *;

.root {
  background-color: $gray-xxx;
}

.window {
  margin: unit(0.5);
  border-radius: unit(0.5);
  overflow: hidden;
  box-shadow: 0 0 rpx(1) rgba(0, 0, 0, 0.6);
}
