@font-face {
  font-family: Icons;
  src: url('./icons.woff');
}

.icon {
  font-family: Icons;
  width: 1em;
  height: 1em;
  font-size: 1em;
  vertical-align: 0.1em;
  display: inline-block;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
