@use '@app/styles/mixins.module' as *;

.tab {
  padding: unit(0.2) unit(1);
  background-color: white;
  user-select: none;
  z-index: 1;
  position: relative;
  display: flex;
  gap: unit(0.5);
  align-items: center;
}

.tab_label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 0 1 auto;
}

.tab.is_active {
  background-color: $accent_tab;
}

.tab.is_window_active.is_active {
  background-color: $accent_tab_window;
}

.tab.is_dragover_top {
  margin-top: -2px;
  border-top: 2px dotted $accent;
  z-index: 2;
}

.tab.is_dragover_bottom {
  margin-bottom: -2px;
  border-bottom: 2px dotted $accent;
  z-index: 2;
}

.tab_url {
  opacity: 0.8;
  font-style: italic;
}

.tab_separator {
  opacity: 0.4;
}

.tab_icon {
  opacity: 0.6;
  font-size: 90% !important;
}

.pin {
  position: absolute;
  left: rpx(-4);
  width: rpx(8);
  height: rpx(8);
  background-color: $accent;
  border-radius: rpx(8);
}
