@use '@app/styles/mixins.module' as *;

.fav {
  width: rpx(16);
  height: rpx(16);
  vertical-align: -2px;
  flex: 0 0 auto;
}

.placeholder {
  background: rgba(128, 128, 128, 0.2);
  width: rpx(16);
  height: rpx(16);
  border-radius: rpx(5);
  flex: 0 0 auto;
}
