@use '@app/styles/mixins.module' as *;

.diag_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: unit(0.5);
  padding: unit(0.5);
  border-top: 1px dashed $gray_xx;
}

.button {
  height: 100%;
}
